---
const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
            integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
            crossorigin="anonymous"
        />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <h1>{frontmatter.title}</h1>
        <article>
            <slot />
        </article>
    </body>
</html>
